
.company {
	/*padding: 20px;*/
	width: 300px;
	background: #DEDEDD;
	border-radius: 20px;
	font-family: 'Dosis', sans-serif;
	margin:20px;
	float: left;
}

.company:hover {
	box-shadow: 5px 5px 2px #888888;
}

.company figure {
	width: 100%;
	padding-top: 10px;
}

.company figure > img {
	display: block;
	margin: 5px auto;
	max-width: 150px;
	max-height: 250px;
	height: auto;
	width: auto;
	border-radius: 10px;
}

.company figcaption {
	text-align: center;
	font-weight: medium;
	font-size: 20px;
	padding-top: 10px;
}

.company .tag {
	text-align: center;
	color: #7E7B7A;
	/*padding: auto;*/
	height: 20px;
	margin: 5px 0px;
}

.company .tag > p {
	background-color: rgba(248, 170, 127, 0.5);
	line-height: auto;
	border-radius: 5px;
}

.company .row {
	padding-top: 10px;
}

#quote {
	height: 100px;
	margin: 0px 20px 15px;
	padding: 10px;
	overflow: hidden;
	text-overflow-multiline: ellipsis;
}

.company .row{
	padding-top: 10px;
	margin: 0;
	/*height: 30px;*/
}

.company .company-details-button{

	text-align: center;
}


/** Company Detail Modal **/

.company .social-icons {
	font-family: 'Font Awsome', sans-serif;
}

.company .main-content {
	padding: 10pt;
}

.company .user-photo {
	padding-bottom: 5pt;
}

.company .user-facts {
	font-family: 'Dosis', sans-serif;
	font-size: 14pt;
}