
.container {
	width: 300px;
	height: 450px;
	background: #DEDEDD;
	border-radius: 20px;
	font-family: 'Dosis', sans-serif;
	margin:20px;
	float: left;
}

.container:hover {
	box-shadow: 5px 5px 2px #888888;
}

figure {
	width: 100%;
	padding-top: 10px;
}

figure > img {
	display: block;
	margin: 5px auto;
	max-width: 150px;
	max-height: 250px;
	height: auto;
	width: auto;
	border-radius: 10px;
}

figcaption {
	text-align: center;
	font-weight: medium;
	font-size: 20px;
	padding-top: 10px;
}

.tag {
	text-align: center;
	color: #7E7B7A;
	height: 20px;
	margin: 5px 0px;
}

.tag > p {
	background-color: rgba(248, 170, 127, 0.5);
	line-height: auto;
	border-radius: 5px;
}

.row {
	padding-top: 10px;
}

#quote {
	margin: 0px 20px;
	height: 140px;
	overflow: hidden;
	text-overflow-multiline: ellipsis;
}