figure {
	/*Image and caption*/
	/*margin-top:50px;*/
	width: 100%;
	/*height: 350px;*/
	padding-top: 10px;
}

figure > img {
	display: block;
	margin: 0px auto;
	max-width: 150px;
	max-height: 250px;
	height: auto;
	width: auto;
	border-radius: 10px;
}

.container {
	/*Rectangle, rounded corners*/
	width: 300px;
	height: 450px;
	background: #DEDEDD;
	border-radius: 20px;
}

figcaption {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-weight: medium;
	font-size: 20px;
	padding-top: 10px;
}

.tag {
	text-align: center;
	color: #7E7B7A;
	/*padding: auto;*/
	height: 20px;
}

.tag > p {
	background-color: rgba(248, 170, 127, 0.5);
	line-height: auto;
	border-radius: 5px;
}

.row {
	padding-top: 10px;
	/*height: 30px;*/
}

#quote {
	margin: 10px;
	/*height: 100px;
	overflow: hidden;
	text-overflow-multiline: ellipsis;*/
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}