.profile {

  color: #cfcfcf;
  margin: 20px auto 50px;

  #profile-photo {

	.title {

	  text-align: center;
	}

	.user-photo {

	  width: 150px;

	  img {
		border-radius: 50%;
		width: 100%;
		height: auto;
	  }

	  .placeholder{

		display: block;
		width: 150px;
		height: 150px;
		margin: 0 auto;
		background: #3f3f3f;
		border-radius: 50%;

		color: #cfcfcf;
		text-align: center;
		line-height: 200px;
	  }

	}

	.loading-icon {

	  display: none;
	  width: 100%;
	  text-align: center;
	  margin-top: 10px;
	  font-size: 30px;
	}

	.description {

	  margin: 10px 0;
	  line-height: 1.3;
	  font-size: 14px;
	  text-align: center;
	  color: #cccccc;
	}

	.upload-status {

	  color: #ffffff;
	  margin-top: 20px;
	  text-align: center;
	  font-weight: bold;
	  display: none;
	}
  }

  .update-btn {

	margin-top: 20px;
  }

  p {

	color: #cfcfcf;
  }

  .vote-container {

	margin: 20px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span.vote-button:hover,
	span.vote-button:active {

	  color: #333;
	  background-color: #fff;
	  border-color: #ccc;
	  cursor: default;
	  box-shadow: none;
	}
  }

  .table {

	background-color: #ffffff;
	color: #1f1f1f;

	th.stat,
	td.stat{

	  text-align: center;
	}
  }
}

.vote-modal{

  color: #2f2f2f;

  .bold{

	font-weight: bold;
  }
}

.tags{

  h1{

	padding-bottom: 0;
	margin-bottom: 15px;
  }

  .new-tag-form{

	margin-bottom: 30px;
  }
}