.profile {

  color: #766e65;
  background-color:$main-bg-color;
  margin: 20px auto 50px;

  #profile-photo {

	.title {

	  text-align: center;
	}

	.user-photo {

	  width: 150px;
	  margin: 0 auto;

	  img {
		width: 100%;
		height: auto;
        border-radius: 10px;
	  }

	  .placeholder{

		display: block;
		width: 150px;
		height: 150px;
		margin: 0 auto;
		background: #3f3f3f;
        border-radius: 10px;

		color: #766e65;
		text-align: center;
		line-height: 150px;
	  }

	}

	.loading-icon {

	  display: none;
	  width: 100%;
	  text-align: center;
	  margin-top: 10px;
	  font-size: 30px;
	}

	.description {

	  margin: 10px 0;
	  line-height: 1.3;
	  font-size: 14px;
	  text-align: center;
	}

	.uploading{

		color: #ffffff;
		margin-top: 20px;
		text-align: center;
		font-weight: bold;
		display: none;
	}

	.upload-status {

	  color: #ffffff;
	  margin-top: 20px;
	  text-align: center;
	  font-weight: bold;
	  display: none;
	}
  }

  label{

	margin: 0;
	width: 100%;

	span{

	  display: block;
	  clear: both;
	  color: #7f7f7f;
	  font-size: 0.9em;
	  font-weight:  normal;
	}
  }

  .form-group{

	margin-bottom: 20px;
  }


  .form-control{

	margin-top: 5px;
	background: #efefef;
    margin-bottom:10px;

	  &.error{

		  background-color: #F3E9E8;
		  border: 2px solid #D3080C;
	  }
  }

  .update-btn {

	margin-top: 20px;
  }

  #password-btn {
      position: relative;
      top: -45px;
  }


  .vote-container {

	margin: 20px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span.vote-button:hover,
	span.vote-button:active {

	  color: #333;
	  background-color: #ccc;
	  border-color: #ccc;
	  cursor: default;
	  box-shadow: none;
	}
  }

  .table {

	background-color: $main-bg-color;
	color: #1f1f1f;

	th.stat,
	td.stat{

	  text-align: center;
	}
  }
}

.vote-modal{

  color: #2f2f2f;

  .bold{

	font-weight: bold;
  }
}

.tags{

  h1{

	padding-bottom: 0;
	margin-bottom: 15px;
  }

  .new-tag-form{

	margin-bottom: 30px;
  }
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {

  font-size: 14px;
}
