.profile {

  background: $GREY005;
  // border: .2em solid #DEDEDD;
  border-radius: 1.5em;
  padding: 30px 30px;
  margin: 20px auto;

  #profile-photo{

      .title{

        text-align: center;
      }

      .user-photo{

        img {
          border-radius: 50%;
          height: auto;
        }

      }

      .loading-icon{

        display: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 30px;
      }

      .description{

        margin: 10px 0;
        line-height: 1.3;
        font-size: 14px;
        text-align: center;
      }


  }


  .vote-container {

    margin: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span.vote-button:hover,
    span.vote-button:active{

      color: #333;
      background-color: #fff;
      border-color: #ccc;
      cursor: default;
      box-shadow: none;
    }
  }
}