.votes{

  h3{

    color:black;
    margin-top: 0;
  }

  ul{

    margin: 35px 0;
    padding: 0;
    list-style: none;

    li{

      margin: 0 0 10px;
      padding: 0;
      list-style: none;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a{

        color: #696969;
        text-decoration: underline;
      }

      a.btn{

        color: white;
        text-decoration: none;
        border-radius:0;

        &:hover{

          color: white;
          background-color: $main-bg-color;
        }
      }

      a.name{

        font-size: 18px;
      }
    }
  }

}

.vote-modal{

  .name{
  }
}
