
* {
  margin: 0;
}
html, body {
  height: 100%;
}

html {

  min-height: 100%;
  position: relative;
}

a {
    color: $main-bright-color;
}
a:hover {
    text-decoration:none;
    color: $main-dark-color;
}

body {

  @include text($family: $main-font, $size: 16px, $l-height: 1.5, $weight: 300);
  margin: 0;
  background-color:$main-bg-color;
}

input[type=file] {

  font-size: 12px;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6{

  font-family: $head-font;
  @include text($family: $head-font, $weight: 600);
  line-height: 1.5;
}

h1 {

  @include text($family: $head-font, $weight: semi-bold);
  letter-spacing: 0.075em;
  font-kerning: auto;
  text-align: center;
  padding-bottom: 50px;
  margin: 0px;
  @media #{$phone} {
    padding-bottom: 15px;
  }
}

h3{

  color: $main-bright-color;
  padding-left:20px;
}

ul, ol {

  margin-top: 20px;

  li {

    line-height: 2;
  }
}

img{

  max-width: 95%;
  margin: 15px auto;
  display: block;
}

p {
  @include text($color: $body-text-color);
}

.navbar{

  border: none;
}



/** Push Footer to bottom of page or below **/

.wrapper{
  min-height: 100%;
  position:relative;
  padding-top: 70px;
}

.content{
  padding-bottom: 60px;    /* height of footer */
}

.footer{
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Breadcrumbs */

.breadcrumb{

  background-color: transparent;

  a{
    text-decoration: underline;
  }

  li{

    color: #cfcfcf;
  }
}

/* Form Styles */

input.error,
.btn-group.error {

  border: 2px solid #FF6969;
}

#userType .btn-info.selected {

  background-color: #237A94;
}

.alert {
  margin: 0;
}


/** Footer **/

