/* Sticky footer styles
-------------------------------------------------- */
.footer {
  clear: both;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  text-align: center;
  > .container {
  padding-right: 15px;
  padding-left: 15px;
  }
}
