/* Sticky footer styles
-------------------------------------------------- */
.footer {
  clear: both;
  bottom: 0;
  width: 100%;
  
  overflow-y: hidden;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  padding-top: .5%;
  text-align: center;

  > .container {
    padding-top: .5%;
    padding-botton: 20px;
  }
}
