
.fellow_container {
	width: 300px;
	height: 450px;
	background: #DEDEDD;
	border-radius: 20px;
	font-family: 'Dosis', sans-serif;
	margin:20px;
	float: left;
}

.fellow_container:hover {
	box-shadow: 5px 5px 2px #888888;
}

figure {
	width: 100%;
	padding-top: 10px;
}

figure > img {
	display: block;
	margin: 5px auto;
	max-width: 150px;
	max-height: 150px;
	height: auto;
	width: auto;
	border-radius: 10px;
}

figcaption {
	text-align: center;
	font-weight: medium;
	font-size: 20px;
	padding-top: 10px;
}

.fellow_tag_c {
	text-align: center;
	color: #7E7B7A;
	height: 20px;
	margin: 5px 0px;
}

.fellow_tag_c > p {
	background-color: rgba(248, 170, 127, 0.5);
	line-height: auto;
	border-radius: 5px;
}

.fellow_row {
	padding-top: 10px;
}

#quote {
	margin: 0px 20px;
	height: 140px;
	overflow: hidden;
	text-overflow-multiline: ellipsis;
}

.fellow_detail_body {
	font-family: 'Fira Sans', sans-serif;
	color: #999999;
}

.fd_hdr {
	font-family: 'Dosis', sans-serif;
	color: #FF6633;
}

.fd_subhdr {
	font-family: 'Dosis', sans-serif;
}

.social-icons {
	font-family: 'Font Awsome', sans-serif;
}

.main-content {
	padding: 10pt;
}

.user-photo {
	padding-bottom: 5pt;
}

.user-facts {
	font-family: 'Dosis', sans-serif;
	font-size: 14pt;
}