@import 'variables';
@import 'mixins';
.grid-container {
  margin: 0 0 6em 0;
  overflow: hidden;
  .grid-box {

    width: 300px;
    height: 470px;
    background: #DEDEDD;
    border-radius: 20px;
    font-family: $head-font;
    margin: 20px;
    float: left;

    &:hover {
      box-shadow: 5px 5px 2px #888888;
    }

    figure {
      width: 100%;
      padding-top: 10px;

      & > img {
        display: block;
        margin: 5px auto;
        max-width: 150px;
        max-height: 150px;
        height: auto;
        width: auto;
        border-radius: 10px;
      }
    }

    figcaption {
      text-align: center;
      @include text($size: 20px, $weight: 500);
      padding-top: 10px;
    }

    .tag {
      text-align: center;
      color: #7E7B7A;
      height: 20px;
      margin: 5px 0px;

      & > p {
        background-color: rgba(248, 170, 127, 0.5);
        line-height: 1.1;
        border-radius: 5px;
      }
    }

    .row {
      padding-top: 10px;
      margin: 0;
    }

    #quote {
      height: 140px;
      margin: 0px 20px 15px;
      padding: 10px;
      overflow: hidden;
      text-overflow-multiline: ellipsis;
    }

    .details-button{

      text-align: center;
    }

    .detail_body {
      @include text($family: $main-font, $color: $body-text-color);
    }

    .fd_hdr {
      @include text($family: $head-font, $color: $heading-text-color);
    }

    .fd_subhdr {
      font-family: $head-font;
    }

    .social-icons {
      font-family: 'Font Awesome', sans-serif;
    }

    .main-content {
      padding: 10px;
    }

    .user-photo {
      padding-bottom: 5px;
    }

    .user-facts {
      @include text($family: $head-font, $size: 14px);
    }

  }

  .box-modal {

    .main-content {
      padding: 20px;
    }

    .user-photo {
      margin: 10px;
    }
  }

}