@import 'variables';
@import 'mixins';
body {
	margin: 0;
	padding: 0;
	background: #a7a9ab;
}
h1 {
	@include text($family: $head-font, $weight: semi-bold);
	letter-spacing: 0.075em;
	font-kerning: auto;
	text-align: center;
	padding-bottom: 50px;
	margin: 0px;
}


img {
	text-align: center; 
}
.main-content {
	width: 100%;
	p {
		@include text($family: $main-font, $l-height: 20px, $weight: light);
		@include multi-column-layout($column-count: 2);
		letter-spacing: 0.010em;
		font-kerning: optical;
		margin: 0; 
	}
}
.odd-section, .even-section {
	padding: 100px;
	width: 100%;
}



.odd-section {
	background: $odd-section;
}

.even-section {
	background: $even-section;
}

.top {
	padding: 0;
}

.slide {
	padding: 0px 150px;
}

#rectangle {
	width: 10px;
	height: 50px;
	background:#333333;
	float: left;
	margin-right: 10px;
	position: relative;
	
}

