@import 'variables';
@import 'mixins';
body {
	margin: 0;
	padding: 0;
	background: #a7a9ab;
}
h1 {
	@include text($family: $head-font, $weight: semi-bold);
	letter-spacing: 0.075em;
	font-kerning: auto;
	text-align: center;
	padding-bottom: 50px;
	margin: 0px;
}


img {
	text-align: center; 
}
.main-content {
	width: 100%;
	p {
<<<<<<< HEAD
		@include text($family: $main-font, $l-height: 15px, $weight: light);
=======
		@include text($family: $main-font, $l-height: 20px, $weight: light);
>>>>>>> c915e2ccabf2f8600eb2ff712050b3e83d81bc9e
		@include multi-column-layout($column-count: 2);
		letter-spacing: 0.010em;
		font-kerning: optical;
		margin: 0; 
	}
}
.odd-section, .even-section {
	padding: 100px;
	width: 100%;
}



.odd-section {
	background: $odd-section;
}

.even-section {
	background: $even-section;
}

.top {
	padding: 0;
}

.slide {
	padding: 0px 150px;
}

