@import 'variables';
@import 'mixins';
body {
	margin: 0;
	padding: 0;
	background: #a7a9ab;
}
h1 {
	@include text($family: $head-font, $weight: semi-bold);
	letter-spacing: 0.075em;
	font-kerning: auto;
	text-align: center;
	padding-bottom: 50px;
	margin: 0px;
}

.background-img{
	background-image: url("/public/assets/images/grandcircus-sm.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:cover;
	height:100vh;
	width:100%;
	}

.frame{background-color:rgba($odd-section, 0.4);
	height:100%;
	width:100%;
	padding:4%;
	}

.frameGradient{
  	background: linear-gradient(rgba(black,0.1), rgba(white,0.6) 60%);
	background-size:100%;
	background-position: top left;
	background-repeat: repeat;
	opacity:0.9;
	height:100%;
	width:100%;
}


.borderFrame{
	// background-image: url("/public/assets/images/grit-img.png");
	// background-size:300px;
	// background-position: center center;
	// background-repeat: repeat;
	opacity:0.9;
	height:100%;
	width:100%;
	border: .25em solid rgba(white, 0.7);
	border-radius:.5em;
	padding:7%;

}	
.logo{width:100%;
	margin:0 0 0 0;
	text-align:center;}

.logo-img{
	height:auto;
	width:70%;
	opacity:1;
}

.sublogo{width:100%;
	clear:both;

}

img {
	text-align: center; 
}
.main-content {
	width: 100%;
	p {

		@include text($family: $main-font, $l-height: 20px, $weight: light);

		@include multi-column-layout($column-count: 2);
		letter-spacing: 0.010em;
		font-kerning: optical;
		margin: 0; 
	}
}
.odd-section, .even-section {
	padding: 100px;
	width: 100%;
}



.odd-section {
	background: $odd-section;
}

.even-section {
	background: $even-section;
}

.top {
	padding: 0;
}

.slide {
	padding: 0px 150px;
}
/*-- date info styled for some responsiveness--*/
@media only screen and (min-width: 680px){
	.dateList{
		@media #{$phone} {
			display:block; 
			border-top:.5em solid $body-text-color;
			width:80%;
			margin: 0 10% 5% 10%;
		}
		@media #{$tablet} {
			display:block; 
			width:100%;
			margin: 0 0% 5% 0%;
		}
	}

	.dateListItem{
		@media #{phone} {
		display:block;
		padding:0 0 0 0;
		height:8em;
		width:100%;
		margin: 0 0 0 0;
		}
	}

	.dateItem{
		float: left;
		
		text-align: right;
		height:100%;
		width:20%;
		margin: 0 5% 0 15%;
		padding: 4em 0 0 0;}  

	.dateInfo{
		float: right;
		border-left:.5em solid $body-text-color;
		height:100%;
		width:45%;
		margin:0 15% 0 0;
		position:relative;
		padding: 2em 0 2em 2em;}

	.dateInfoText{
		position:relative;
		top: 2em;}

	.dateMarker{
		position:absolute;
		width:1.5em;
		height:1.5em;
		left:-1.0em;
		border-radius:50px;
		border: 5px solid $body-text-color;
		top:4em;
		background-color:$odd-section;}

	.dateIcon{
		background-image: url("/public/assets/images/heximage.svg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: top left;
		min-height:4em;
		min-width: 4em;
		max-height: 6em;
		max-width: 6em; 
		margin-right:1em;
		float:left;}}

@media only screen and (max-width: 679px){
	.dateList{
		display:block; 
		width:100%;
		margin: 0 0% 5% 0%;}

	.dateListItem{
		display:block;
		padding:0 0 0 0;
		height:30%;
		width:100%;
		margin: 0 0 0 0;}

	.dateItem{
		float: left;
		text-align: right;
		height:100%;
		width:25%;
		margin: 0 5% 0 0;
		padding: 4em 0 0 0;}  

	.dateInfo{
		float: right;
		height:100%;
		width:60%;
		margin:0 5% 0 0;
		padding: 2em 0 2em 0;}

	.dateInfoText{
		position:relative;
		top: 2em;}

	.dateMarker{
		display:none;
				visibility:hidden;}

	.dateIcon{
		background-image: url("/public/assets/images/heximage.svg");
		background-size: 4em 4em;
		background-repeat: no-repeat;
		background-position: top left;
		height:4em;
		width: 4em; 
		margin-right:1em;
		float:left;}
		 }

// .textBox{100%;}
// .contain{}

.rectangle{
	width: .6em;
	height: 10em;
	background:#333333;
}

