@import 'variables';
html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: $main-font;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $head-font;
	font-weight: 600;
}

h1 {
	text-transform: uppercase;
	font-weight: 800;
	color: #f2663a;
}

p{
	color: #2f2f2f;
}

@import 'navbar';

@import 'footer';

@import 'hexagon';





/* Carousel Overrides */

.carousel-inner {
  padding: 0 15%;
}