@import 'variables';
@import 'mixins';
html {
  min-height: 100%;
  position: relative;
}

body {
	@include text($family: $main-font, $size: 16px, $l-height: 1.5, $weight: 300);
	margin: 50px 0 0 0;
	padding: 0 0 20px 0;

	}

h1, h2, h3, h4, h5, h6 {
	font-family: $head-font;
	@include text($family: $head-font, $weight: 600);
}

h1 {
	@include text($weight: 800);
	text-transform: uppercase;
}

p {
	@include text($color: $body-text-color);
}

.row {
	margin-left: 0;
	margin-right: 0;
}

@import 'navbar';

@import 'footer';

@import 'hexagon';





/* Carousel Overrides */

.carousel-inner {
  padding: 0 15%;
}