@import 'variables';
@import 'mixins';
html {
  position: relative;
  min-height: 100%;
}

body {
	@include text($family: $main-font, $size: 16px, $l-height: 1.5, $weight: 300);
	margin-top: 50px;

}

h1, h2, h3, h4, h5, h6 {
	font-family: $head-font;
	@include text($family: $head-font, $weight: 600);
}

h1 {
	@include text($weight: 800, $color: $heading-text-color);
	text-transform: uppercase;
}

p {
	@include text($color: $body-text-color);
}

@import 'navbar';

@import 'footer';

@import 'hexagon';





/* Carousel Overrides */

.carousel-inner {
  padding: 0 15%;
}