
.wrapper{padding:0;
		width:100%}
.heading-img{
	background-image: url("/public/assets/images/heading-img.png");
	background-position: 0% 45%;
	background-repeat:no-repeat;
	background-size:100%;
	width:100%;
	height:250px;
	overflow:hidden;
	margin: 0 0 2em 0;}

	.headingOverlay{
		background-color:rgba(white,.5);
		width:100%;
		height:100%;
		text-align:center;
		padding:1em 10em 1em 10em;}

	.textWrapper{
		width:70%;
		height:auto;
		margin: 1% 15% 0 15%;
	}

	.headingText{
		width:100%;
		font-family:$head-font;
		font-size:5em;
		font-weight:600;
		letter-spacing:0.5em;
		line-height:1.2em;
		margin: 0 0 0 .1em;
		opacity:.9;
	}

	.investDetroitO{
		width:1.5em;
		height:auto;
		margin: -0.5em -0.5em -0.25em -0.25em;
	}