
.wrapper{padding:0;
		width:100%}
.heading-img{
	background-image: url("/public/assets/images/heading-img.png");
	background-position: 0% 45%;
	background-repeat:no-repeat;
	background-size:100%;
	width:100%;
	height:250px;
	overflow:hidden;
	margin: 0 0 2em 0;

}
