@import 'variables';

.profile {
	background-color: $odd-section;

	.fa {
		color: $heading-text-color;
	}
	input, textarea {
		background-color: $profile-accent-color;
		border: none;
		color: $heading-text-color;
	}

	label {
		color: $heading-text-color;
		font-weight: 500;
		@media #{$phone} {
			font-weight: 300;
			font-size: 1.2em;
			margin-right: 15px;
		}
	}
	.form-group {
		padding: 5px 0 5px 0;


	}

	.dropdown {
		width: 40%;
		button {
			width: 100%;
			background-color: $profile-accent-color;
			color: $heading-text-color;
			border: none;
			.dropdown-menu {
				background-color: lighten($odd-section, 20%);
			}
		}
	}

	button {
		@include standard-button-light();
		&:hover {
			background-color: darken($GREY002, 25%);
		}

	}
}

.update-btn {
	@media #{$phone} {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.wrapper{
	padding:0;
	width:100%
}
.heading-img{
	background-image: url("/public/assets/images/heading-img2.png");
	background-position: 0% 30%;
	background-repeat:no-repeat;
	background-size:100%;
	width:100%;
	height:250px;
	overflow:hidden;
	//maybe
	margin: 0 0 2em 0;
}

.profile-form {
	padding: 25px 0 0 0;

	margin: 0 0 2em 0;
}



	.headingOverlay{
		background-color:rgba(white,.5);
		width:100%;
		height:100%;
		text-align:center;
		padding:1em 10em 1em 10em;
		@media #{$phone} {
			padding:1em 0em 1em 0em;
		}
		@media #{$tablet} {
			padding:1em 0em 1em 0em;
		}
	}

	.textWrapper{
		width:70%;
		height:auto;
		margin: 1% 15% 0 15%;
		@media #{$phone} {
			// padding: 2em 0 0 0;
			margin: 14% 16% 0 13%;
		}
		@media #{$tablet} {
			margin: 0% 16% 0 13%;
		}
	}

	.headingText{
		width:100%;
		font-family:$head-font;
		font-size:5em;
		font-weight:600;
		letter-spacing:0.5em;
		line-height:1.2em;
		margin: 0 0 0 .1em;
		opacity:.9;
	}

	.logoClass{
		width:1.3em;
		height:auto;
		margin: -0.5em -0.5em -0.25em -0.25em;
	}

.headWord {
	white-space: nowrap;
}
.user-photo {
	border-radius: 100px;
}

#tags {
	background-color: $profile-accent-color;
}

.alert{
  height: 20%;
  padding: 0px;
  border: 1px solid;
  visibility: hidden;
}
