@import "./variables";
@import "mixins";
@import "base";

@import "components/navbar";
@import "components/footer";
@import "components/grid-box";
@import "components/alerts";
@import "components/hexagon";

@import "pages/home";
@import "pages/profile";

