$main-font: 'Fira Sans', sans-serif;
$head-font: 'Dosis', sans-serif;
$odd-section: black; /*d4d4d4*/
$even-section: white; /*dededf*/
$heading-text-color: #dededd; /*2f2f2f*/
$body-text-color: #999999; /*999999*/
$nav-bar-color-main: #f2663a;
$nav-bar-color-secondary: #dededf;
$GREY001:#333333;
$GREY002:#7e7b7a;
$GREY003:#979494;
$GREY004:#999999;
$GREY005:#d5d4d3;
$GREY006:#dededd;
$ORANGE001:#ff9933;
$ORANGE002:#fecc65;
$ORANGE003:#fed483;
$RED001:#ff6633;
$RED002:#f8aa7f;
$RED003:#fabe9b;

$phone: "only screen and (min-width: 680px)";
$tablet: "only screen and (max-width: 679px)";