<div class="row single">
    <div class="col-md-8 col-md-offset-2">

        <ul class="breadcrumb">
            <li><a href="/#/companies">Companies</a></li>
            <li class="active">{{ company.name }}</li>
        </ul>

        <div class=" profile company-container">

            <div class="row">
                <div class="col-md-3">

                    <div class="photo">
                        <img class="img" ng-src={{company.image_url}} />
                    </div>

                    <div class="row vote-container" ng-show="isFellow()">

                        <span class="btn btn-default btn-lg vote-button" ng-show="done || currentUserVoted(company)">
                            Interested
                            <span class="fa fa-check fa-lg"></span>
                        </span>

                        <button type="button" class="btn btn-default btn-lg vote-button" data-toggle="modal" data-target="#myModal" ng-click="vote(company)" ng-hide="done || currentUserVoted(company)">
                            Show Interest
                            <span class="fa fa-thumbs-o-up" ng-hide="loading"></span>
                            <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
                        </button>

                    </div>

                </div>

                <div class="col-md-9">

                    <h1 class="name">{{ company.name }}</h1>
                    <p class="tagline">{{ fellow.description }}</p>

                    <div class="bio" ng-bind-html="helpers.paragraphize(company.bio) | sanitize"></div>

                    <p class="stat industry"><span>Industry:</span> {{ company.industry }}</p>
                    <p class="stat company-size"><span>Company Size:</span> {{ company.company_size }}</p>
                    <p class="stat contact"><span>Primary Contact:</span> {{ company.primary_contact }} | {{ company.user.email }}</p>

                    <p class="links"><a class="website" ng-href="company.website">Website</a></p>
                </div>
            </div>

            <div class="row tags">
                <h3>Desired Skills:</h3>
                <span class="tag" ng-repeat='tag in company.tags'>{{ tag.name }}</span>

            </div>

        </div>

        <p class="pagination"><a class="" href="/#/companies"><span class="glyphicon glyphicon-chevron-left"></span> Back to All Companies</a></p>

    </div>
</div>

