

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit User: {{ fellow.first_name }} {{ fellow.last_name }}</h4>
    </div>

    <div class="modal-body box-modal" ng-init="init()">

        <div class="alert alert-danger" role="alert" ng-show="errors.length">

            <p ng-repeat="error in errors">{{ error }}</p>

        </div>

        <div class="form-group">

            <label class="control-label">Profile Status</label><br />
            <input type="checkbox"
                   name="enabled"
                   id="enabled"
                   value="1"
                   ng-model="fellow.enabled"
                   ng-true-value="1"
                   ng-false-value="0" />

        </div>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" ng-model="fellow.first_name" name="first_name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" ng-model="fellow.last_name" name="first_name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" ng-model="user.email" name="email" class="form-control" />
        </div>

        <div class="form-group">
            <label>Change Password</label>
            <input type="password" ng-model="user.password" name="email" class="form-control" />
            <p class="text-muted">Enter a new password to change - otherwise leave blank</p>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Save</button>
    </div>

