<h2>Fellows</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Voted For</th>
        <th>Votes Cast</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="fellow in fellows">
        <td>{{  fellow.first_name + " " + fellow.last_name }}</td>
        <td>{{ fellow.email }}</td>
        <td>{{ fellow.user.VotesFor.length }}</td>
        <td>{{ fellow.user.VotesCast.length }}</td>
        <td><a href ng-click="editFellow(fellow)"><i class="fa fa-pencil-square-o"></i> Edit</a></td>
        <td><a href ng-click="archiveFellow(fellow)"><i class="fa fa-times-circle"></i> Archive</a></td>
    </tr>

    </tbody>
</table>


<h2>Companies</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Voted For</th>
        <th>Votes Cast</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="company in companies">
        <td>{{ company.name }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.user.VotesFor.length }}</td>
        <td>{{ company.user.VotesCast.length }}</td>
        <td><a href ng-click="editCompany(company)"><i class="fa fa-pencil-square-o"></i> Edit</a></td>
        <td><a href ng-click="archiveCompany(company)"><i class="fa fa-times-circle"></i> Archive</a></td>
    </tr>
    </tbody>
</table>