<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class=" profile votes">

            <div class="row">

                <h3>You have shown interest in:</h3>

                <ol>
                    <li ng-repeat="vote in votes">
                        <a ng-href="/#/fellows/{{ vote.Votee.fellow.id }}/{{ helpers.slugify( vote.Votee.fellow.first_name + ' ' + fellow.last_name ) }}">
                            {{ vote.Votee.fellow.first_name }} {{ vote.Votee.fellow.last_name }}
                        </a>
                    </li>
                </ol>



            </div>

        </div>

    </div>

</div>