<div ng-controller="VotesController">

    <div class="container">

        <div class="votes">

            <div class="row">

                <h3>You showed interest in the following companies:</h3>

                <table class="table">

                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Matched</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="company in company_votes">
                            <td>{{ company.name }}</td>
                            <td></td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>