<div class="admin-create-user">
    <div class="modal-body">
        <div class="form-group">
            <label for="email">User's Email:</label>
            <input type="email" class="form-control" id="email" name="email" ng-model="user.email">
        </div>
        <div class="form-group">
            <label for="password">User's Password:</label>
            <input type="password" class="form-control" id="password" name="password" ng-model="user.password">
        </div>

        <input type="radio" name="userType"  value="Fellow" ng-model="user.userType" ng-click="switchType(user)" autocomplete="off" checked> Fellow
        <input type="radio" name="userType"  value="Company" ng-model="user.userType" ng-click="switchType(user)" autocomplete="off"> Company


<!--        <div class="btn-group" id="userType" data-toggle="buttons">
            <label class="btn btn-info" id="optionFellow" ng-click="switchType(user)">
                <input type="radio" name="userType"  value="Fellow" ng-model="user.userType" autocomplete="off" checked> Fellow
            </label>
            <label class="btn btn-info" id="optionCompany" ng-click="switchType(user)">
                <input type="radio" name="userType"  value="Company" ng-model="user.userType" autocomplete="off"> Company
            </label>
        </div>-->


   <!--      <div class="btn-group">
            <input class="btn btn-primary" ng-model="radioModel" name="options" id="optionFellow"  ng-model="user.userType" value="Fellow" ng-click= "switchType(user)" btn-radio="'Left'">Fellow</input>
            <label class="btn btn-primary" ng-model="radioModel" name="options" id="optionCompany" ng-model="user.userType" value="Company" btn-radio="'Middle'">Company</label>
        </div>
 -->

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" ng-click="ok(user)">Submit</button>
    <button class="btn btn-warning pull-left" ng-click="cancel()">Cancel</button>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>