<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="profile">
			<div class="wrapper">
				<div class="heading-img">
					<div class="headingOverlay">
						<div class="textWrapper">
							<span class="headingText">
								<img class="logoClass" src="public/assets/images/grandcirciuslogo.svg"> DMIN PAGE
							</span>
						</div>
						</div>
					</div>
			</div>
			<div class="container">
				<div class="row">

					<tabset>
						<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
							<div ng-include="tab.template"></div>
						</tab>
					</tabset>


				</div>
			</div>
		</div>

	</div>
</div>