<div class="row">

	<div class="col-md-8 col-md-offset-2">

		<div class="profile">

				<div class="row">

					<a class="btn btn-primary" ng-click="createUser()"><span class="glyphicon glyphicon-plus"></span> New User</a>

					<h2>Fellows</h2>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th class="stat">Voted For</th>
							<th class="stat">Votes Cast</th>
							<th class="stat">Enabled</th>
							<th></th>
							<th></th>
						</thead>
						<tbody>
						<tr ng-repeat="fellow in fellows">
							<td>{{  fellow.first_name + " " + fellow.last_name }}</td>
							<td>{{ fellow.user.email }}</td>
							<td class="stat"><a href ng-click="fellowVotes(fellow)">{{ fellow.user.VotesFor.length }}</a></td>
							<td class="stat"><a href ng-click="fellowVotes(fellow)">{{ fellow.user.VotesCast.length }}</a></td>
							<td class="stat">{{ fellow.enabled ? "Yes" : "No" }}</td>
							<td><a href ng-click="editFellow(fellow)"><i class="fa fa-pencil-square-o"></i></a></td>
							<td width="30"><a href ng-click="removeFellow(fellow)"><i class="fa fa-times text-danger"></i></a></td>
						</tr>

						</tbody>
					</table>


					<h2>Companies</h2>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th class="stat">Voted For</th>
							<th class="stat">Votes Cast</th>
							<th class="stat">Enabled</th>
							<th></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="company in companies">
							<td>{{ company.name }}</td>
							<td>{{ company.user.email }}</td>
							<td class="stat"><a href ng-click="companyVotes(company)">{{ company.user.VotesFor.length }}</a></td>
							<td class="stat"><a href ng-click="companyVotes(company)">{{ company.user.VotesCast.length }}</a></td>
							<td class="stat">{{ company.enabled ? "Yes" : "No" }}</td>
							<td><a href ng-click="editCompany(company)"><i class="fa fa-pencil-square-o"></i></a></td>
							<td width="30"><a href ng-click="removeCompany(company)"><i class="fa fa-times text-danger"></i></a></td>
						</tr>
						</tbody>
					</table>

				</div>

			</div>

	</div>
</div>