<div class="profile">
	<div class="wrapper">
		<div class="heading-img">
			<div class="headingOverlay">
				<div class="textWrapper">
					<span class="headingText">
						<span class="headWord">C<img class="logoClass" src="public/assets/images/investdetroitlogo.svg"></img> MP<img class="logoClass" src="public/assets/images/grandcirciuslogo.svg"></img> NY</span> <span class="headWord">PR<img class="logoClass" src="public/assets/images/investdetroitlogo.svg"></img> FILE</span>
					</span>
				</div>
				</div>
			</div>
		</div>

<div class="container">
	<div class="profile">
		<div class="row">
			<div class="col-md-3">
				<center><img class="user-photo" git src={{company.img}} width="200" height="200"></center>

				<br>
				<div class="input-group">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Browse</button>
		      </span>
		      <input type="text" class="form-control" placeholder="Search for...">
		    </div><!-- /input-group -->

				<!--<input type="file" name="picUpload"/>-->

				<br>
				<i class="fa fa-github"></i>
				<i class="fa fa-envelope"></i>
			</div>

			<div class="col-md-9">
				<form class="form-horizontal profile-form">
<!-- =======
				<div class="alert alert-danger hid" id="errorAlert">
				<a class="close">×</a>
				Oops!!. You may have left some fields empty. Please fill them out.
				</div> -->

			    <div class="form-group">

			        <label for="companyName" class="control-label col-xs-2">Company Name</label>
			       <div class="col-xs-10">
			            	<input type="text" class="form-control" id="companyName" value="	{{company.name}}"/>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="contactName" class="control-label col-xs-2">Primary Contact Name</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="contactName" value="{{company.primary_contact}}"/>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="companyEmail" class="control-label col-xs-2">Email</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="companyEmail" value="{{company.email}}"/>
			        </div>
			    </div>

					<div class="form-group">
			        <label for="companySize" class="control-label col-xs-2">Company Size</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="companySize" value="{{company.company_size}}"/>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="companyIndustry" class="control-label col-xs-2">Industry</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="companyIndustry" value="{{company.industry}}"/>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="companyFoundingYear" class="control-label col-xs-2">Fouding Year</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="companyFoundingYear" value="{{company.founding_year}}"/>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="companyFounders" class="control-label col-xs-2">Founders</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="companyName" value="{{company.founders}}"/>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="companyURL" class="control-label col-xs-2">Website URL</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="companyURL" value="{{company.website_url}}"/>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="companyName" class="control-label col-xs-2">LinkedIn URL</label>
			        <div class="col-xs-10">
			            <input type="text" class="form-control" id="companyLinkedInURL" value="{{company.linked_in_url}}"/>
			        </div>
			    </div>

			    <div class="form-group">
			    	<label for="companyDesiredSkills" class="control-label col-xs-2"> Desired Skills</label>
			        <div class="col-xs-10">
			        	<select class="js-example-tokenizer form-control" multiple="multiple">
							<option value="C">C</option>
							<option value="CPP">C++</option>
							<option value="JAVA">Java</option>
							<option value="Javascript">Javascript</option>
							<option value="AL">Alabama</option>
							<option value="WY">Wyoming</option>
						</select>
			        </div>
			    </div>

				<div class="form-group">
			        <label for="companyBio" class="control-label col-xs-2">Biography</label>
			        <div class="col-xs-10">
			            <textarea class="form-control" rows="7" id="companyBio" value="{{company.bio}}"></textarea>
			        </div>
			    </div>
			    <div class="form-group">
			        <div class="col-xs-offset-2 col-xs-10 update-btn">
			            <button type="submit" class="btn btn-primary">Update</button>
			        </div>
			    </div>
			</form>

				<!--
				<p>Comapny Name:
					<input type="text" value="{{company.name}}" ng-model="company.name"/>
				</p>
				<p>Primary Contact Name:
					<input type="text" value="{{company.primary_contact}}" ng-model="company.primary_contact"/>
				</p>
				<p>Email:
					<input type="text" value="{{company.email}}" ng-model="company.email"/>
				</p>
				<p>Company Size:
					<input type="int" value="{{company.company_size}}" ng-model="company.company_size"/>
				</p>
				<p>Industry:
					<input type="text" value="{{company.industry}}" ng-model="company.industry"/>
				</p>
				<p>Founding Year:
					<input type="text" value="{{company.founding_year}}" ng-model="company.founding_year"/>
				</p>
				<p>Founders:
					<input type="text" value="{{company.founders}}" ng-model="company.founders"/>
				</p>
				<p>Website URL:
					<input type="text" value="{{company.website_url}}" ng-model="company.website_url"/>
				</p>
				<p>LinkedIn URL:
					<input type="text" value="{{company.linked_in_url}}" ng-model="company.linked_in_url"/>
				</p>
			-->



			</div>
		</div>

		<!--
		<div class="row">
			<div class="main-content" ng-model="company">
				<h3 class="fd_subhdr">Biography</h3>
				<input type="text" value="{{company.bio}}" ng-model="company.bio"/>


				<h3 class="fd_subhdr">Interests</h3>
				<input type="text" value="{{company.interests}}"  ng-model="company.interest" />

			</div>
			<button ng-click="update(company)">Update</button>
		</div>
	-->
	</div>
</div>
</div>
