
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <div class="profile">

            <h1>Edit Your Profile</h1>

            <div class="row">

                <div id="profile-photo" class="col-md-4">

                    <h4 class="title">Profile Image</h4>

                    <div class="user-photo">

                        <div class="user-photo">
                            <img id="preview" ng-src="{{ company.image_url }}" ng-show="company.image_url" width="150" height="150" />
                            <span class="placeholder" ng-show="!company.image_url">No Profile Image</span>
                        </div>
                    </div>

                    <p class="description">For best results - please use a square image</p>

                    <div class="file">
                        <input type="file" id="file_input" onchange="angular.element(this).scope().getS3Key(this)" />
                        <i class='fa fa-circle-o-notch fa-spin loading-icon'></i>
                    </div>

                    <p class="uploading">Uploading...Please wait to save</p>
                    <p class="upload-status">Uploaded. Click Update to Save</p>

                </div>

                <div class="col-md-7 col-md-offset-1">

                    <form>

                        <input type="hidden" id="image_url" name="image_url" ng-model="company.image_url" value="" />

                        <div class="form-group">

                            <label for="enabled" class="control-label">Profile Status</label>
                            <input type="checkbox"
                                   id="enabled"
                                   name="enabled"
                                   value="1"
                                   ng-model="fellow.enabled"
                                   ng-true-value="1"
                                   ng-false-value="0"
                                    />

                        </div>

                        <div class="form-group">

                            <label for="name" class="control-label">Company Name</label>
                            <input type="text" class="form-control" id="name" ng-model="company.name" value="{{company.name}}"/>
                        </div>

                        <div class="form-group">
                            <label for="year" class="control-label">Year Established</label>
                            <input type="text" class="form-control" id="year" ng-model="company.year" value="{{company.year}}"/>
                        </div>

                        <div class="form-group">
                            <label for="primary_contact" class="control-label">Primary Contact Name</label>
                            <input type="text" class="form-control" id="primary_contact" ng-model="company.primary_contact" value="{{company.primary_contact}}"/>
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" class="form-control" id="email" ng-model="company.user.email" value="{{company.user.email}}"/>
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">City</label>
                            <input type="text" class="form-control" id="location" ng-model="company.location" value="{{company.location}}"/>
                        </div>

                        <div class="form-group">
                            <label for="company_size" class="control-label ">Company Size</label>
                            <input type="text" class="form-control" id="company_size" ng-model="company.company_size" value="{{company.company_size}}"/>
                        </div>

                        <div class="form-group">
                            <label for="industry" class="control-label">Industry</label>
                            <input type="text" class="form-control" id="industry" ng-model="company.industry" value="{{company.industry}}"/>
                        </div>


                        <div class="form-group">
                            <label for="companyURL" class="control-label">Website URL</label>
                            <input type="text" class="form-control" id="companyURL" ng-model="company.website_url" value="{{company.website_url}}" />
                        </div>

                        <div class="form-group">
                            <label for="bio" class="control-label">Company Bio</label>
                            <textarea class="form-control" rows="5" id="bio" ng-model="company.bio" value="{{company.bio}}"></textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="nearFuture" class="control-label">Technology-wise, what is your company wanting to accomplish in the next few months?</label>
                            <textarea class="form-control" rows="5" id="nearFuture" ng-model="company.nearFuture" value="{{company.nearFuture}}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="description" class="control-label">Enter a single phrase to describe your company</label>
                            <input type="text" class="form-control" id="description" ng-model="company.description" value="{{company.description}}" />
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label for="developer_type" class="control-label">How would you best classify the developer you are seeking?</label>-->
                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox" name="developer_type" ng-true-value="'Front End'" value="Front End" ng-model="company.developer_type" />-->
                                    <!--Front End-->
                                <!--</label>-->
                            <!--</div>-->

                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox" name="developer_type" ng-true-value="'Back End'" value="Back End" ng-model="company.developer_type" />-->
                                    <!--Back End-->
                                <!--</label>-->

                            <!--</div>-->

                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox" name="developer_type" ng-true-value="'Full Stack'" value="Full Stack" ng-model="company.developer_type" />-->
                                    <!--Full Stack-->
                                <!--</label>-->
                            <!--</div>-->

                            <!--<select name="developer_type" class="form-control" id="developer_type" ng-model="company.developer_type">-->
                                <!--<option>Front End</option>-->
                                <!--<option>Back End</option>-->
                                <!--<option>Full Stack</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group">

                            <label class="control-label"> Desired Technical Skills / Technology  (Top 7)<span>Press enter after each tag</span></label>
                            <ui-select multiple
                                       tagging="tagTransform"
                                       tagging-label="(new)"
                                       ng-model="company.tags"
                                       theme="bootstrap"
                                       ng-disabled="disabled"
                                       style="width: 100%"
                                       limit="7"
                                       title="Choose a skill">
                                <ui-select-match placeholder="Select skill">{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="tag in tags | propsFilter: { name: $select.search }">
                                    <span ng-bind-html="''+tag.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>


                        <div class="form-group">
                            <div class="update-btn">
                                <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"  ng-click="update(company)">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
