<div class="fellow-profile">
	<div class="row">
		<div class="col-md-3">
			<img class="user-photo" git
			src={{fellow.image_url}} width="200" height="200">
			<input type="file" name="picUpload"/>
			<br>


			<i class="fa fa-github"></i>
			<i class="fa fa-envelope"></i>
		</div>

		<div class="col-md-9">
			<h1 class="fd_hdr">Your Profile</h1>
			<p>Name:
				<input type="text" value="{{fellow.first_name}}" ng-model="fellow.first_name"/> 
				<input type="text" value="{{fellow.last_name}}" ng-model="fellow.last_name"/> 
			</p>
			<p>Email:
				<input type="text" value="{{fellow.email}}" ng-model="fellow.email"/> 
			</p>
			<p>School:
				<input type="text" value="{{fellow.university}}" ng-model="fellow.university"/>
			</p>
			<p>Major:
				<input type="text" value="{{fellow.major}}" ng-model="fellow.major"/>
			</p>
			<p>Resume: <input type="file" ng-
				model="fellow.resume_file_path"/>
			</p>
<!-- 			<p>Website URL:
				<input type="text" value="{{fellow.url}}" ng-model="fellow.url"/>
			</p> -->
			<p>Tag 1:
				<input type="text" value="{{fellow.tag1}}" ng-model="fellow.tag1"/>
				Tag 2:
				<input type="text" value="{{fellow.tag2}}" ng-model="fellow.tag2"/>
				Tag 3:
				<input type="text" value="{{fellow.tag3}}" ng-model="fellow.tag3"/>
			</p>


		</div>
	</div>

	<div class="row">
		<div class="main-content" ng-model="fellow">
			<h3 class="fd_subhdr">Biography</h3>
			<input type="text" value="{{fellow.bio}}" ng-model="fellow.bio"/>


			<h3 class="fd_subhdr">Interests</h3>
			<input type="text" value="{{fellow.interests}}"  ng-model="fellow.interest" />

		</div>
		<button ng-click="update(fellow)">Update</button>
	</div>
</div>