<div class="row">
    <div class="col-md-10 col-md-offset-1">

            <div class="profile">

                <h1>Edit Your Profile</h1>

                <div class="row">

                    <div id="profile-photo" class="col-md-4">

                        <h4 class="title">Profile Image</h4>

                        <div class="user-photo">
                            <img id="preview" ng-src="{{ fellow.image_url }}" ng-show="fellow.image_url" width="150" height="150" />
                            <span class="placeholder" ng-show="!fellow.image_url">No Profile Image</span>
                        </div>

                        <p class="description">For best results - please use a square image</p>

                        <div class="file">
                            <input type="file" id="file_input" onchange="angular.element(this).scope().getS3Key(this)" />
                            <i class='fa fa-circle-o-notch fa-spin loading-icon'></i>
                        </div>

                        <p class="uploading">Uploading...Please wait to save</p>
                        <p class="upload-status">Uploaded. Click Update to Save</p>
                    </div>

                    <div class="update-btn">
                      <button type="button" class="btn btn-lg pull-right" id="password-btn" ng-click="updateFellowPassword()"><i class="fa fa-key" aria-hidden="true"></i> Change Password</button>
                    </div>

                    <div class="col-md-7 col-md-offset-1">

                        <form>

                            <input type="hidden" id="image_url" name="image_url" ng-model="fellow.image_url" value="" />

                            <div class="form-group">

                                <label for="enabled" class="control-label">Profile Status</label>
                                <input type="checkbox"
                                       id="enabled"
                                       name="enabled"
                                       class="hf-salmon-color"
                                       value="1"
                                       ng-model="fellow.enabled"
                                       ng-true-value="1"
                                       ng-false-value="0"
                                        />


                            </div>

                            <div class="form-group">
                                <label for="first_name" class="control-label">First Name</label>
                                <input type="text" class="form-control" id="first_name" ng-model="fellow.first_name" value="{{fellow.first_name}}"/>
                            </div>

                            <div class="form-group">
                                <label for="last_name" class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="last_name" ng-model="fellow.last_name" value="{{fellow.last_name}}"/>
                            </div>

                            <div class="form-group">
                                <label for="email" class="control-label">Email</label>
                                <input type="text" class="form-control" id="email" ng-model="fellow.user.email" value="{{fellow.user.email}}" disabled />
                            </div>

                            <div class="form-group">
                                <label for="contact_email" class="control-label">Contact Email</label>
                                <input type="text" class="form-control" id="contact_email" ng-model="fellow.contact_email" value="{{fellow.contact_email}}" />
                            </div>

                            <div class="form-group">
                                <label for="phone" class="control-label">Phone</label>
                                <input type="text" class="form-control" id="phone" ng-model="fellow.phone" value="{{fellow.phone}}" />
                            </div>

                            <div class="form-group">
                                <label for="bio" class="control-label">Who are you? <span>Bio / Background Story / Your Mission (350 characters max)</span></label>
                                <textarea class="form-control" rows="5" id="bio" ng-model="fellow.bio" value="{{fellow.bio}}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="interests" class="control-label">What are some interesting things you have coded? <span>Non class related if you can (350 characters max)</span></label>
                                <textarea class="form-control" rows="5" id="interests" ng-model="fellow.interests" value="{{fellow.interests}}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="question" class="control-label">Choose one of the following questions</label>
                                <select name="question" class="form-control" id="question" ng-model="fellow.question">
                                    <option>What are you hoping to achieve in Hacker Fellows?</option>
                                    <option>What would be your ideal work environment?</option>
                                    <option>What are your hobbies outside of development?</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="answer" class="control-label">Answer the above question (350 characters max)</label>
                                <textarea rows="4" class="form-control" id="answer" ng-model="fellow.answer">{{fellow.answer}}"</textarea>
                            </div>


                            <div class="form-group">
                                <label  class="control-label">Link 1<span>Enter the name and URL to something showing off your skills (Github, etc). All optional.</span></label>
                                <input type="text" class="form-control" id="linkName1" ng-model="fellow.linkName1" value="{{ fellow.linkName1 }}" placeholder="Name"/>
                                <input type="text" class="form-control" id="linkURL1" ng-model="fellow.linkURL1" value="{{ fellow.linkURL1 }}" placeholder="URL"/>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">Link 2</label>
                                <input type="text" class="form-control" id="linkName2" ng-model="fellow.linkName2" value="{{ fellow.linkName2 }}" placeholder="Name"/>
                                <input type="text" class="form-control" id="linkURL2" ng-model="fellow.linkURL2" value="{{ fellow.linkURL2 }}" placeholder="URL"/>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">Link 3</label>
                                <input type="text" class="form-control" id="linkName3" ng-model="fellow.linkName3" value="{{ fellow.linkName3 }}" placeholder="Name"/>
                                <input type="text" class="form-control" id="linkURL3" ng-model="fellow.linkURL3" value="{{ fellow.linkURL3 }}" placeholder="URL"/>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">Link 4</label>
                                <input type="text" class="form-control" id="linkName4" ng-model="fellow.linkName4" value="{{ fellow.linkName4 }}" placeholder="Name"/>
                                <input type="text" class="form-control" id="linkURL4" ng-model="fellow.linkURL4" value="{{ fellow.linkURL4 }}" placeholder="URL"/>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">Link 5</label>
                                <input type="text" class="form-control" id="linkName5" ng-model="fellow.linkName5" value="{{ fellow.linkName5 }}" placeholder="Name"/>
                                <input type="text" class="form-control" id="linkURL5" ng-model="fellow.linkURL5" value="{{ fellow.linkURL5 }}" placeholder="URL"/>
                            </div>

                            <div class="form-group">
                                <label for="developer_type" class="control-label">How would you best classify yourself as a developer?</label>
                                <select name="developer_type" class="form-control" id="developer_type" ng-model="fellow.developer_type">
                                    <option>Front End</option>
                                    <option>Back End</option>
                                    <option>Full Stack</option>
                                    <option>Mobile</option>
                                    <option>Embedded</option>
                                    <option>Data Science</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <label class="control-label"> Technical Skills (Top 7)<span>Press enter after each tag</span></label>
                                <ui-select multiple
                                           tagging="tagTransform"
                                           tagging-label="(new)"
                                           ng-model="fellow.tags"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           style="width: 100%"
                                           limit="7"
                                           title="Choose a skill">
                                    <ui-select-match placeholder="Select skill">{{ $item.name }}</ui-select-match>
                                    <ui-select-choices repeat="tag in tags | propsFilter: { name: $select.search }">
                                        <span ng-bind-html="''+tag.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                            <div class="form-group">
                                <div class="update-btn">
                                    <button type="submit" class="btn btn-lg pull-right" ng-click="update(fellow)">Update</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

    </div>
</div>
