
    <div class="modal-body hfmodal">

        <div class="alert alert-danger" role="alert" ng-show="loginForm.errors.length">

            <p ng-repeat="error in loginForm.errors">{{ error }}</p>

        </div>

        <form>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" value="{{ loginForm.email }}" ng-model="loginForm.email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" ng-model="loginForm.password">
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="login(loginForm)">Login</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

