

  <div class="modal-body box-modal">

    <div class="row">
      <div class="col-md-3">
        <img class="user-photo" src="public/assets/images/placeholder-hi.png" width="200" height="200">
        <br>
        <span class="label label-default">HTML</span>
        <span class="label label-default">CSS</span>
        <span class="label label-default">JavaScript</span>

        <i class="fa fa-github"></i>
        <i class="fa fa-envelope"></i>
      </div>

      <div class="col-md-9">
        <h1>{{fellow.name}}</h1>
        <div class="user-facts">
          Grand Valley State University <br>
          Computer Science <br>
          Resume <br>
          www.mywebsite.com <br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="main-content">
        <h3 class="fd_subhdr">Biography</h3>
        <p>Lorem ipsum dolor sit amet, elit paulo tacimates id vis, duo habeo ancillae ut. Ea aliquip hendrerit appellantur eum, eos ex doming nusquam deleniti. Mei decore mentitum id, sed id discere invenire scribentur, id pri gloriatur definiebas scripserit. Nec putant aliquid reformidans ei, ignota everti invidunt ex vim.</p>
        <h3 class="fd_subhdr">Interests</h3>
        <p>Sumo adhuc sadipscing in pro. Esse modus copiosae sit ei, mea eu vide quaeque oporteat. Pro an ferri aperiri graecis, pro nibh melius probatus id. Vim id ipsum apeirian, quo ut eius atomorum pertinacia, euismod quaerendum ut mea.</p>
      </div>
    </div>

    <div class="row">
        <center><button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" ng-click="vote(fellow)">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Vote
      </button></center>
    </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>