<div class="grid-box fellow">

	<div class="photo">
		<img class="img" ng-src={{fellow.image_url}} />
	</div>

	<div class="info">
	
		<h3 class="name">{{fellow.first_name +" "+ fellow.last_name}}</h3>

		<p class="tagline">{{ fellow.description }} | {{ fellow.developer_type }}</p>

		<div class="bio" ng-bind-html="helpers.paragraphize( fellow.bio.substr(0, 350) ) | sanitize"></div>

	</div>

	<div class="foot">

		<div class="tagwrap">

			<div class="tag fellow_tag " ng-repeat='tag in fellow.tags | limitTo:6'>
				{{ tag.name }}
			</div>

		</div>

		<div class="details-button">

			<a type="button" class="detButton"  ng-href="/#/fellows/{{ fellow.id }}/{{ helpers.slugify( fellow.first_name + ' ' + fellow.last_name ) }}">
				<i class="fa fa-plus fa-lg"></i> full profile
			</a>
		</div>

	</div>

</div>