<div class="grid-box fellow">

	<figure> <!-- image section -->
		<div class="imgCrop">
			<img ng-src={{fellow.src}}>
		</div>
	</figure>

	<div class="fellowInfo"><!-- div containing information -->
	
		<div class="fellowName "> <!-- fellow name section -->
			<figcaption> {{fellow.name}} </figcaption>
			</div>

		<div class="quote">{{fellow.desc}}

			</div>

	
		<div class="tag fellow_tag " ng-repeat='tag in fellow.tags'><!-- fellow tags section -->
			<p> {{tag}} </p>
			</div>


	

		<!-- Button trigger modal -->
	</div>
		<div class="details-button">
			<button type="button" class="detButton" ng-click="openModal(fellow)">
				<!-- View Details -->
				<i class="fa fa-th-list fa-lg"></i>

			</button>
		</div>
</div>