<div class="grid-box company">

	<figure>

		<div class="imgCrop">
			<img ng-src="{{ company.image_url }}" />
		</div>
	</figure>

	<div class="companyInfo"><!-- div containing information -->


		<div class="companyName ">
			<figcaption> {{ company.name }} </figcaption>
		</div>

		<div class="quote">{{ company.bio }}</div>


		<div class="tag company_tag" ng-repeat="tag in company.tags | limitTo:3">
			<p>{{ tag.name }}</p>
		</div>
		
	</div>
		<!-- Button trigger modal -->
		<div class="details-button">
			<button type="button" class="detButton" ng-click="openModal(company)">
				<!-- View Details -->
				<i class="fa fa-th-list fa-lg"></i>
			</button>
		</div>
</div>
