<div class="grid-box company">

	<div class="photo">
		<img class="img" ng-src={{company.image_url}} />
	</div>

	<div class="info">


		<h3 class="name">{{ company.name }}</h3>
		<p class="tagline">{{ company.description }}</p>

		<div class="bio" ng-bind-html="helpers.paragraphize( company.bio.substr(0, 350) ) | sanitize"></div>

	</div>
	<div class="foot">

		<div class="tagwrap">

			<div class="tag company_tag " ng-repeat='tag in company.tags | limitTo:6'>
				{{ tag.name }}
			</div>

		</div>

		<div class="details-button">

			<a ng-href="/#/companies/{{ company.id }}">
				<!-- View Details -->
				<i class="fa fa-plus fa-lg"></i>  full profile
			</a>
		</div>

	</div>

</div>
