
<!--<div class="modal-header">-->
    <!--<h3 class="modal-title">I'm a modal!</h3>-->
<!--</div>-->
<div class="modal-body box-modal">

    <div class="row">
        <div class="col-md-3">

            <img class="user-photo" ng-src="{{ company.image_url }}" width="200" height="200">
            <span class="placeholder" ng-if="!company.image_url"></span>

            <br>

            <span class="label label-default" ng-repeat='tag in company.tags'>{{ tag.name }}</span>

            <i class="fa fa-github"></i>
            <i class="fa fa-envelope"></i>
        </div>

        <div class="col-md-9">
            <h1>{{ company.name }}</h1>
            <div class="user-facts">
                Since {{ company.founding_year }} <br>
                {{ company.location }} <br>
                {{ company.website_url }} <br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="main-content">
            <h3>Biography</h3>
            <p>{{ company.bio }}</p>
        </div>
    </div>

    <div class="row">
       <center>
				 <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" ng-click="vote(company)">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Vote
					</button>
					<img id="spinner" width="25px" ng-show="loading"
						src="http://khan4019.github.io/HighPerfJS/images/spinner.gif" />
					<i class="fa fa-check fa-lg" ng-show="done"> </i>
				</center>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
