<div class="row single">
    <div class="col-md-8 col-md-offset-2">

        <ul class="breadcrumb">
            <li><a href="/#/fellows">Fellows</a></li>
            <li class="active">{{ fellow.first_name }} {{ fellow.last_name }}</li>
        </ul>

        <div class="profile fellow-container">

            <div class="row">
                <div class="col-md-3">

                    <div class="photo">
                        <img class="img" ng-src={{fellow.image_url}} />
                    </div>

                    <div class="row vote-container" ng-show="isCompany()">

                        <span class="btn btn-default btn-lg vote-button" ng-show="done || currentUserVoted(fellow)">
                            Interested
                            <span class="fa fa-check fa-lg"></span>
                        </span>

                        <button type="button" class="btn btn-default btn-lg vote-button" data-toggle="modal" data-target="#myModal" ng-click="vote(fellow)" ng-hide="done || currentUserVoted(fellow)">
                            Show Interest
                            <span class="fa fa-thumbs-o-up" ng-hide="loading"></span>
                            <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
                        </button>
                    </div>
                </div>

                <div class="col-md-9">
                    <h1 class="name">{{ fellow.first_name +" "+ fellow.last_name }}</h1>
                    <p class="tagline">{{ fellow.description }}</p>

                    <div class="bio" ng-bind-html="helpers.paragraphize(fellow.bio) | sanitize"></div>

                    <div class="interests" ng-bind-html="helpers.paragraphize(fellow.interests) | sanitize"></div>

                    <p class="question"><strong>Q.</strong> {{ fellow.question }}</p>
                    <p class="answer"><strong>A.</strong> {{ fellow.answer }}</p>

                    <p class="links"><a class="github" ng-href="{{ fellow.git_hub }}" target="_blank">GitHub</a> | <a class="portfolio" ng-href="{{ fellow.portfolio }}" target="_blank">Portfolio</a></p>
                </div>
            </div>

            <div class="row tags">

                <span class="tag" ng-repeat='tag in fellow.tags'>{{ tag.name }}</span>

            </div>
        </div>


        <p class="pagination"><a class="" href="/#/fellows"><span class="glyphicon glyphicon-chevron-left"></span> Back to All Fellows</a></p>

    </div>

</div>
