<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <p><a class="btn btn-default" href="/#/fellows">&laquo; Back to Fellows</a></p>

        <div class=" profile fellow-container">

            <div class="row">
                <div class="col-md-3">
                    <img class="user-photo" ng-src="{{ fellow.image_url }}" width="200" height="200">
                    <br>
                    <span class="label label-default" ng-repeat='tag in fellow.tags'>{{ tag.name }}</span>

                    <i class="fa fa-github"></i>
                    <i class="fa fa-envelope"></i>
                </div>

                <div class="col-md-9">
                    <h1>{{ fellow.first_name +" "+ fellow.last_name }}</h1>
                    <div class="user-facts">
                        {{ fellow.university }} <br>
                        {{ fellow.major }} <br>
                        <!--<a href="{{ fellow.resume_file_path }}">Resume</a> <br>-->
                        <!--<a href="{{ fellow.website_url }}">Website</a> <br>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="main-content">
                    <h3 class="fd_subhdr">Biography</h3>
                    <p>{{ fellow.bio }}</p>
                    <h3 class="fd_subhdr">Interests</h3>
                    <p>{{ fellow.interests }}</p>
                </div>
            </div>

            <div class="row vote-container" ng-show="isCompany()">

                <span class="btn btn-default btn-lg vote-button" ng-show="done || currentUserVoted(fellow)">
                    Interested
                    <span class="fa fa-check fa-lg"></span>
                </span>

                <button type="button" class="btn btn-default btn-lg vote-button" data-toggle="modal" data-target="#myModal" ng-click="vote(fellow)" ng-hide="done || currentUserVoted(fellow)">
                    Show Interest
                    <span class="fa fa-thumbs-o-up" ng-hide="loading"></span>
                    <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
                </button>
            </div>
        </div>
    </div>

</div>
