.alert{

  position: fixed;
  width: 100%;
  //height: 30px;
  top: 49px;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;

  .container{

    height: 100%;
    /*width: 100%;
    max-width: 640px;*/
    margin: 0 auto;
  }

  .message{

    position: relative;
    padding: 15px;
    border-left: 5px #73A148 solid;
    border-top: 0;
    height: 100%;
    width: 100%;

    .close{

      position: absolute;
      right: 2px;
      top: 2px;

      width: 24px;
      height: 24px;
      line-height: 24px;
      display: block;
      text-align: center;
      font-size: 22px;
      color: #333333;
      opacity: 1;
      text-shadow: none;
    }

    h3{

      color: #2f2f2f;
      font-size: 24px;
      line-height: 1.3;
      margin: 0 0 10px;
    }

    p{

      color: #333333;
      margin: 0;
      line-height: 30px;
    }

    .glyphicon{

      line-height: 30px;
      margin-right: 8px;
      top: 3px;
    }

    &.success{

      color: #73A148;

      background-color: #d8eeca;
      border-color: #278400;

      .glyphicon{

        color: #278400;
      }
    }

    &.error{

      color: #DD3645;
      background: #f3e9e8;
      border-color: #d3080c;

      .glyphicon{

        color: #d3080c;
      }
    }

    &.info{

      color: #B2803E;
      background: #f9f4d4;
      border-color: #f90;

      .glyphicon{

        color: #f90;
      }
    }
  }


}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}