/* Sticky footer styles
-------------------------------------------------- */
.footer {

  width: 100%;
  background-color: $GREY005;
  text-align: center;

  p {
    line-height: 60px;
    margin: 0;
  }
}
