/* Sticky footer styles
-------------------------------------------------- */
.footer {

  width: 100%;
  height: auto;
  background-color: $GREY005;
  text-align: center;

  p {
    line-height: 46px;
    @media #{$phone} {
      line-height: 26px;
    }
  }
}
