
.grid-container {

  width: 90%;
  margin: 0 auto;
  padding-top: 15px;

  h1{

    color: #cfcfcf;
  }

  .list{

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

  }

  .grid-box {

    width: 45%;
    height: 250px;
    background: $GREY005;
    // border: .2em solid #DEDEDD;
    border-radius: 25px;
    font-family: $head-font;
    margin: 0 2% 35px;
    padding: 0 0 0 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    @media #{$phone} {
      width: 96%;
      height: 180px;
    }

    @media #{$tablet} {
      overflow: hidden;
    }
    //  @media #{$tablet} {
    //   width: 96%;
    //   height: 180px;
    // }

    figure {
      height:100%;
      width: 35%;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      & > .imgCrop{ 
        border-style:none;
        max-width: 150px;
        max-height: 150px;
        display: block;
        border-radius: 100px;
        overflow:hidden;

        & > img {
        position:relative;
        top:0;
        left:0;
        max-width: 150px;
        max-height: 150px;
        height: auto;
        width: auto;
        margin: 0;

        @media #{$phone} {
          width: 90px;
          height: 90px;
          border-radius: 50%;
        }
        @media #{$tablet} {
          width: 110px;
          height: 110px;
          border-radius: 50%;
        }
      }



        }
      }

    .fellowInfo, .companyInfo{
      height:100%;
      margin:0 0 0 0;
      width:55%;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: initial;
      justify-content: space-around;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      @media #{$tablet} {
        margin: 0 .5% 0 .5%;
        width: 54%;
      }
    }

    .fellowName, .companyName{
      padding: 1em 0 0 0;
      width:100%;
    }

    .fellowName, .companyName, .tagwrap, .quote {
      height: auto;
      max-height: 33%;
      overflow: hidden;

    }



    figcaption {
      @include text($size: 2.5em, $weight: 500);
      @media #{$tablet} {
        @include text($size: 25px, $weight: 500);
        text-align: center;
      }
    }

    .tagwrap {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      @media #{$phone} {
        width: 100%;
      }

      .tag {
        display:block;
        width: auto;
        height:2em;
        text-align: center;
        color: $GREY004;
        padding:.5em;
        margin: 0 1em 0 0;
        border: .1em solid $GREY004;
        border-radius: 5px;
        font-size: 13px;
        @media #{$tablet} {
          overflow: hidden;
          font-size: 12px;
        }
        @media #{$phone} {
          width: auto;
          font-size: 15px;
        }
        & > p {
          line-height: 1.1;
        }
      }
    }

    .row {
      padding-top: 10px;
      margin: 0;
    }

    .quote {
      width:100%;
      padding: .25em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 13px;
       @media #{$phone} {
        display: none;
      }
    }


    .details-button{
      float:left;
      // text-align: center;
      margin: 0 0 0 0;
      height:100%;
      width:10%;


    }

    .detButton {
      color: $GREY006;
      background-color: $button-color;
      height: 100%;
      width: 100%;
      border-style: none;
      outline: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;

      text-decoration: none;
      text-align: center;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .detButton:hover{
      background-color:$GREY003;
      color:$button-color;
    }

    .detail_body {
      @include text($family: $main-font, $color: $body-text-color);
    }

    .fd_hdr {
      @include text($family: $head-font, $color: $heading-text-color);
    }

    .fd_subhdr {
      font-family: $head-font;
    }

    .social-icons {
      font-family: 'Font Awesome', sans-serif;
    }

    .main-content {
      padding: 10px;
    }

    .user-photo {
      padding-bottom: 5px;
    }

    .user-facts {
      @include text($family: $head-font, $size: 14px);
    }

  }

  .box-modal {

    .main-content {
      padding: 20px;
    }

    .user-photo {
      margin: 10px;
    }
  }

}