
.photo{

	width: 160px;
	height: 160px;
	margin: 0 auto;

	img{

		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		max-width: 100%;
	}

}

.tag{

    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
	border: 3px solid #ee5e5e;
	height: 40px;
	line-height: 26px;
	padding: 5px 15px;
	margin: 0 10px 5px;
	text-align: center;
    text-transform:uppercase;
	color: #ee5e5e;
    margin:10px;
}

.name{
    font-size: 40px;
    font-weight:200;
    font-family: 'Dosis', sans-serif;
	color: #000;
    text-transform:uppercase;
}

.tagline{

    font-family: 'Dosis', sans-serif;
	color: #000;
}

.bio {
    font-family: 'Dosis', sans-serif;
    margin-bottom:0;

}

.fellow-container {

    background-color:#f0f0f0;
    padding:30px;
}

.single{

	.name{
		text-align: left;
		margin: 0;
		padding: 0;
	}

	.tagline{

        color: #000;
		text-align: left;
		font-weight: 700;
		font-size: 1.2em;
		line-height: 1.3;
		margin-bottom: 15px;
	}

	.bio{

        font-family: 'Dosis', sans-serif;
		margin-bottom: 1em;

		p{
            color: #000;
			line-height: 1.4;
		}
	}

	.interests{

		margin-bottom: 1em;

		p{

            color: #000;
			line-height: 1.4;
		}
	}

	.question{

        color: #000;
		line-height: 1.5;
	}
	.answer{

        color: #000;
		line-height: 1.5;
        margin-bottom:2em;
	}

	.stat{

        color: #000;
		span{
			display: inline-block;
			margin-right: 8px;
		}
	}

	.links{

		margin-top: 10px;

		a {

			color: #ee5e5e;
            font-family: 'Dosis', sans-serif;
			font-size: 1em;
			font-weight: normal;
		}
	}

	.tags{

		display: block;

		h3{

			color: #cfcfcf;
			margin-bottom: 20px;
		}

		.tag{

            font-family: 'Fira Sans', sans-serif;
			display: inline-block;
			margin-bottom: 10px;
			color: #ee5e5e;
			border-color: #ee5e5e;

		}
	}

	.pagination{

		margin: 25px 0;
	}
}
